body {
  font-weight: 300;
	font-size: xx-large;
  background-image: url("https://i.ibb.co/bXgNvtk/feedback.jpg"); /* The image used */
  background-color: rgb(255, 128, 128); /* Used if the image is unavailable */



  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.container,con2
{
  background-color: black;
  width:50%;
  opacity: 0.9;
  margin: 0 auto;
  border-radius: 10px;
}
input[type=submit]
{
  color: black;
  font-family: sans-serif;
}
h1 {
  font-size: 4rem;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: 20vh;
  font-family: sans-serif;
  text-decoration-line: overline underline;
}
.btn-info
{
	margin-bottom : 15px;
}
h5
{
  text-align: center;
 font-family: sans-serif;
color:white;
}
input{
  padding: 8px 15px;
  border: 0;
  border-radius: 5px;
}
